#VARIABLES ENVIRONNEMENT 
.env

#VENV DIRECTORIES AND FILES
venv/

#DATABASE
db.sqlite3

/__pycache__/

# .vscode
*.vscode

/db

.env

#note 
note 

#backend
/backend/ft_transcendence/server/__pycache__/
