#VARIABLES ENVIRONNEMENT 
.env

#VENV DIRECTORIES AND FILES
venv/

# .vscode
*.vscode

#pycache
/backend/backend/__pycache__/
/backend/authentication/__pycache__
/backend/authentication/view/__pycache__
/backend/cert

note

#production files
backend/productionfiles/
backend/authentication/migrations/
backend/migrations/
backend/authentication/migrations/0001_initial.py
backend/logs

backend/debug.log
backend/errors.log
login.txt