#VARIABLES ENVIRONNEMENT 
.env

#VENV DIRECTORIES AND FILES
venv/

#DATABASE
/backend/ft_transcendence/db.sqlite3

/backend/ft_transcendence/server/__pycache__/

# .vscode
*.vscode

/db

.env

#note 
note 

#backend
/backend/ft_transcendence/server/__pycache__/
