{% extends "master.html" %}

{% block title %}
  Tournament
{% endblock %}


{% block content %}
</br>
<table border='1'>
    <tr>
      <th>username</th>
    </tr>
    {% for x in mymembers %}
      <tr>
        <td><a href="#" onclick="addUserToTournament('{{ x.username }}')">{{ x.username }}</a></td>
      </tr>
    {% endfor %}
</table>

<button id="NewUser"><a href="/add_player">Add a player</a></button>

<h2>Players in tournament :</h2>

<p id="tournamentPlayer"></p>

<div id="tableContainer">
  <table id="tournamentTable">
    <tbody>
    </tbody>
  </table>
</div>

<button id="launch">Launch tournament</button>

<p id="error_msg"></p>

<p id="matchup"></p>

<button id="launchMatch" style="display:none;">Start match</button>

<p id="match"></p>

<p id="result"></p>

<div id="bracket" class="theme theme-dark" style="display:none;">
  <div class="bracket">
    <div class="column one">
      <div id="A1-A2-match" class="match">
        <div id="A1" class="match-top team" style="display:none;">
          <span id="A1_name" class="name"></span>
          <span id="A1_score" class="score"></span>
        </div>
        <div id="A2" class="match-bottom team" style="display:none;">
          <span id="A2_name" class="name"></span>
          <span id="A2_score" class="score"></span>
        </div>
        <div id="first-top-top" style="display:none;">
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
      <div id="A3-A4-match" class="match">
        <div id="A3" class="match-top team" style="display:none;">
          <span id="A3_name" class="name"></span>
          <span id="A3_score" class="score"></span>
        </div>
        <div id="A4" class="match-bottom team" style="display:none;">
          <span id="A4_name" class="name"></span>
          <span id="A4_score" class="score"></span>
        </div>
        <div id="first-top-bot" style="display:none;">
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
      <div id="A5-A6-match" class="match">
        <div id="A5" class="match-top team" style="display:none;">
          <span id="A5_name" class="name"></span>
          <span id="A5_score" class="score"></span>
        </div>
        <div id="A6" class="match-bottom team" style="display:none;">
          <span id="A6_name" class="name"></span>
          <span id="A6_score" class="score"></span>
        </div>
        <div id="first-bot-top" style="display:none;">
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
      <div id="A7-A8-match" class="match">
        <div id="A7" class="match-top team" style="display:none;">
          <span id="A7_name" class="name"></span>
          <span id="A7_score" class="score"></span>
        </div>
        <div id="A8" class="match-bottom team" style="display:none;">
          <span id="A8_name" class="name"></span>
          <span id="A8_score" class="score"></span>
        </div>
        <div id="first-bot-bot" style="display:none;">
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div class="match-lines alt">
            <div class="line one"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="column two">
      <div id="B1-B2-match" class="match">
        <div id="B1" class="match-top team" style="display:none;">
          <span id="B1_name" class="name"></span>
          <span id="B1_score" class="score"></span>
        </div>
        <div id="B2" class="match-bottom team" style="display:none;">
          <span id="B2_name" class="name"></span>
          <span id="B2_score" class="score"></span>
        </div>
        <div id="second-top" class="match-lines" style="display:none;">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div id="first-second-top" class="match-lines alt" style="display:none;">
          <div class="line one"></div>
        </div>
      </div>
      <div id="B3-B4-match" class="match">
        <div id="B3" class="match-top team" style="display:none;">
          <span id="B3_name" class="name"></span>
          <span id="B3_score" class="score"></span>
        </div>
        <div id="B4" class="match-bottom team" style="display:none;">
          <span id="B4_name" class="name"></span>
          <span id="B4_score" class="score"></span>
        </div>
        <div id="second-bot" class="match-lines" style="display:none;">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div id="first-second-bot" class="match-lines alt" style="display:none;">
          <div class="line one"></div>
        </div>
      </div>
    </div>
    <div class="column three">
      <div id="C1-C2-match" class="match">
        <div id="C1" class="match-top team" style="display:none;">
          <span id="C1_name" class="name"></span>
          <span id="C1_score" class="score"></span>
        </div>
        <div id="C2" class="match-bottom team" style="display:none;">
          <span id="C2_name" class="name"></span>
          <span id="C2_score" class="score"></span>
        </div>
        <div class="match-lines">
          <div class="line one"></div>
          <div class="line two"></div>
        </div>
        <div id="second-line" class="match-lines alt" style="display:none;">
          <div class="line one"></div>
        </div>
      </div>        
    </div>
  </div>
</div>

<p id="allMatch" ></p>

<script>
    const tournamentPlayer = [];

    function addUserToTournament(username) {
        if (!tournamentPlayer.some(player => player.username === username)) {
            tournamentPlayer.push({
              username: username,
              order: -1,
              position: 0,
              round: 1,
            });
            printTournamentPlayer();
        }
    }
    
    function printTournamentPlayer() {
      const tbody = document.querySelector("#tournamentTable tbody");
      tbody.innerHTML = "";
      tournamentPlayer.forEach(function(player) {
        const row = tbody.insertRow();
        const cell1 = row.insertCell();
        cell1.textContent = player.username;
        const cell2 = row.insertCell();
        cell2.innerHTML = '<a href="#">-</a>';
        cell2.addEventListener("click", function() {
          const index = tournamentPlayer.indexOf(player);
          if (index !== -1) {
            tournamentPlayer.splice(index, 1);
            printTournamentPlayer();
          }
        });
      });
    }


    let currentMatch = [];
    let allMatch = [];
    let round = 1;
    let nbMatch;

    function makeMatchup() {
      const ul = document.getElementById("matchup");
      ul.innerHTML = "";
      let playersInTournament = tournamentPlayer.filter(player => player.position === 0 && player.round == round);
      let j = 0;
      nbMatch = 0;
      currentMatch.forEach(function(match){
        allMatch.push(
          JSON.parse(JSON.stringify(match))
        );
      })
      currentMatch = [];
      //put final position for players who lost
      if (round != 1){
        const ul = document.getElementById("result");
        ul.textContent = "";
        tournamentPlayer.forEach(function(player){
          if (player.round + 1 === round)
            player.position = playersInTournament.length + 1;
        })
      }
      //put final position for the winner
      if (playersInTournament.length == 1){
        tournamentPlayer.forEach(function(player){
          if (player.position === 0)
            player.position = 1;
        })
        const li = document.createElement("p");
        li.textContent = playersInTournament[0].username + " have won the tournament!";
        ul.appendChild(li);
        launchMatchElement.style.display = "none";
        printAllResult();
        return ;
      }
      //put matchup in currentMatch variable
      for (let i = 0; i < playersInTournament.length; i += 2) {
        if (i + 1 >= playersInTournament.length){
          currentMatch.push([
            { myRef: playersInTournament[i] },
            "",
            -1,
            -1,
          ]);
        }
        else{
          currentMatch.push([
            { myRef: playersInTournament[i] },
            { myRef: playersInTournament[i + 1] },
            -1,
            -1
          ]);
        }
        const li = document.createElement("p");
        if (currentMatch[j][0] && currentMatch[j][1] )
        li.textContent = currentMatch[j][0].myRef.username + " vs " + currentMatch[j][1].myRef.username;
        else if (currentMatch[j][0])
          li.textContent = currentMatch[j][0].myRef.username;
        ul.appendChild(li);
        j ++;
      }
      round ++;
    }

    function printAllResult(){
      const ul = document.getElementById("allMatch");
      ul.innerHTML = "";

      allMatch.forEach(function(match) {
          const li = document.createElement("p");
          console.log(match);
          li.textContent = match[0].myRef.username + " " + match[2] + " vs " + match[1].myRef.username + " " + match[3];
          ul.appendChild(li);
      });
    }

    const nbPlayerElement = document.getElementById("nbPlayer");
    const launchTournamentElement = document.getElementById("launch");
    const launchMatchElement = document.getElementById("launchMatch");
    const bracketElement = document.getElementById("bracket");
    
    const A1Element = document.getElementById("A1");
    const A2Element = document.getElementById("A2");
    const A3Element = document.getElementById("A3");
    const A4Element = document.getElementById("A4");
    const A5Element = document.getElementById("A5");
    const A6Element = document.getElementById("A6");
    const A7Element = document.getElementById("A7");
    const A8Element = document.getElementById("A8");
    const B1Element = document.getElementById("B1");
    const B2Element = document.getElementById("B2");
    const B3Element = document.getElementById("B3");
    const B4Element = document.getElementById("B4");
    const C1Element = document.getElementById("C1");
    const C2Element = document.getElementById("C2");

    const A1A2matchElement = document.getElementById("A1-A2-match");
    const A3A4matchElement = document.getElementById("A3-A4-match");
    const A5A6matchElement = document.getElementById("A5-A6-match");
    const A7A8matchElement = document.getElementById("A7-A8-match");
    const B1B2matchElement = document.getElementById("B1-B2-match");
    const B3B4matchElement = document.getElementById("B3-B4-match");
    const C1C2matchElement = document.getElementById("C1-C2-match");

    const firstTopTopElement = document.getElementById("first-top-top");
    const firstTopBotElement = document.getElementById("first-top-bot");
    const firstSecondTopElement = document.getElementById("first-second-top");
    const firstBotTopElement = document.getElementById("first-bot-top");
    const firstBotBotElement = document.getElementById("first-bot-bot");
    const firstSecondBotElement = document.getElementById("first-second-bot");
    const secondTopElement = document.getElementById("second-top");
    const secondBotElement = document.getElementById("second-bot");
    const secondLineElement = document.getElementById("second-line");

    //print the bracket structure with the first matchup
    function printBracket() {
      if (tournamentPlayer.length > 0){
        A1Element.style.display = "flex";
        ul = document.getElementById("A1_name");
        ul.textContent = tournamentPlayer[0].username;
        A2Element.style.display = "flex";
        ul = document.getElementById("A2_name");
        ul.textContent = tournamentPlayer[1].username;
      }
      if (tournamentPlayer.length > 2){
        A3Element.style.display = "flex";
        ul = document.getElementById("A3_name");
        ul.textContent = tournamentPlayer[2].username;
        A4Element.style.display = "flex";
        ul = document.getElementById("A4_name");
        if (tournamentPlayer.length > 3)
          ul.textContent = tournamentPlayer[3].username;
        else
          ul.textContent = "...";
        B1Element.style.display = "flex";
        B2Element.style.display = "flex";
        firstTopTopElement.style.display = "block";
        firstTopBotElement.style.display = "block";
        firstSecondTopElement.style.display = "block";
      }
      if (tournamentPlayer.length > 4){
        A5Element.style.display = "flex";
        ul = document.getElementById("A5_name");
        ul.textContent = tournamentPlayer[4].username;
        A6Element.style.display = "flex";
        ul = document.getElementById("A6_name");
        if (tournamentPlayer.length > 5)
          ul.textContent = tournamentPlayer[5].username;
        else
          ul.textContent = "...";
        B3Element.style.display = "flex";
        B4Element.style.display = "flex";
        C1Element.style.display = "flex";
        C2Element.style.display = "flex";
        firstBotTopElement.style.display = "block";
        firstSecondBotElement.style.display = "block";
        secondTopElement.style.display = "block";
        secondBotElement.style.display = "block";
        secondLineElement.style.display = "block";
      }
      if (tournamentPlayer.length > 6){
        A7Element.style.display = "flex";
        ul = document.getElementById("A7_name");
        ul.textContent = tournamentPlayer[6].username;
        A8Element.style.display = "flex";
        ul = document.getElementById("A8_name");
        if (tournamentPlayer.length > 7)
          ul.textContent = tournamentPlayer[7].username;
        else
          ul.textContent = "...";
        firstBotBotElement.style.display = "block";
      }
    }

    //launch the tournament when there is the right amount of players
    //create the matchup / print the bracket structure
    launchTournamentElement.addEventListener("click", function() {
      if (tournamentPlayer.length < 2){
        const ul = document.getElementById("error_msg");
        ul.textContent = "Not enough players";
        return ;
      }
      if (tournamentPlayer.length > 8){
        const ul = document.getElementById("error_msg");
        ul.textContent = "Too many players";
        return ;
      }
      const ul = document.getElementById("error_msg");
      ul.textContent = "";
      tournamentPlayer.forEach(function(player){
        player.order = -1;
      });
      tournamentPlayer.forEach(function(player){
        let newOrder;
        do {
          newOrder = Math.floor(Math.random() * tournamentPlayer.length);
        } while (tournamentPlayer.some(otherPlayer => otherPlayer.order === newOrder));
        player.order = newOrder;
      });
      tournamentPlayer.sort((a, b) => a.order - b.order);
      makeMatchup();
      printTournamentPlayer();
      launchMatchElement.style.display = "inline";
      bracketElement.style.display = "inline";
      printBracket();
    });

    launchMatchElement.addEventListener("click", function(){
      const ul = document.getElementById("match");
      ul.innerHTML = "";
      playersInTournament = tournamentPlayer.filter(player => player.position === 0 && player.round == 1);
      const li = document.createElement("p");
      if (nbMatch >= currentMatch.length){
        makeMatchup();
        printTournamentPlayer();
        return ; 
      }
      else if (currentMatch[nbMatch][0] && currentMatch[nbMatch][1])
        li.textContent = currentMatch[nbMatch][0].myRef.username + " vs " + currentMatch[nbMatch][1].myRef.username;
      else if (currentMatch[nbMatch][0])
        li.textContent = currentMatch[nbMatch][0].myRef.username;
      ul.appendChild(li);
      findWinner();
      nbMatch ++;
    });

    function findWinner(){
      ul = document.getElementById("result");
      ul.innerHTML = "";
      const li = document.createElement("p");
      if (!currentMatch[nbMatch][1]){
        li.textContent = currentMatch[nbMatch][0].myRef.username + " is the winner !";
        currentMatch[nbMatch][0].myRef.round ++;
        currentMatch[nbMatch][2] = 3;
        currentMatch[nbMatch][3] = 0;
        winner_name = currentMatch[nbMatch][0].myRef.username;
      }
      else{
        let result = Math.floor(Math.random() * 2);
        if (result === 0){
          li.textContent = currentMatch[nbMatch][0].myRef.username + " is the winner !";
          currentMatch[nbMatch][0].myRef.round ++;
          currentMatch[nbMatch][2] = 3;
          currentMatch[nbMatch][3] = Math.floor(Math.random() * 3);
          winner_name = currentMatch[nbMatch][0].myRef.username;
        }
        else{
          li.textContent = currentMatch[nbMatch][1].myRef.username + " is the winner !";
          currentMatch[nbMatch][1].myRef.round ++;
          currentMatch[nbMatch][3] = 3;
          currentMatch[nbMatch][2] = Math.floor(Math.random() * 3);
          winner_name = currentMatch[nbMatch][1].myRef.username;
        }
      }
      ul.appendChild(li);
      if (round == 2){
        if (nbMatch == 0){
          ul = document.getElementById("B1_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            A1A2matchElement.classList.add("winner-top");
          else
            A1A2matchElement.classList.add("winner-bottom");
          ul = document.getElementById("A1_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("A2_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
        else if (nbMatch == 1){
          ul = document.getElementById("B2_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            A3A4matchElement.classList.add("winner-top");
          else
            A3A4matchElement.classList.add("winner-bottom");
          ul = document.getElementById("A3_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("A4_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
        else if (nbMatch == 2){
          ul = document.getElementById("B3_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            A5A6matchElement.classList.add("winner-top");
          else
            A5A6matchElement.classList.add("winner-bottom");
          if (tournamentPlayer.length === 5){
            ul = document.getElementById("B4_name");
            ul.textContent = "...";
          }
          ul = document.getElementById("A5_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("A6_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
        else if (nbMatch == 3){
          ul = document.getElementById("B4_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            A7A8matchElement.classList.add("winner-top");
          else
            A7A8matchElement.classList.add("winner-bottom");
          ul = document.getElementById("A7_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("A8_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
      }
      if (round == 3){
        if (nbMatch == 0){
          ul = document.getElementById("C1_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            B1B2matchElement.classList.add("winner-top");
          else
            B1B2matchElement.classList.add("winner-bottom");
          ul = document.getElementById("B1_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("B2_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
        else if (nbMatch == 1){
          ul = document.getElementById("C2_name");
          ul.textContent = winner_name;
          if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            B3B4matchElement.classList.add("winner-top");
          else
            B3B4matchElement.classList.add("winner-bottom");
          ul = document.getElementById("B3_score");
          ul.textContent = currentMatch[nbMatch][2];
          ul = document.getElementById("B4_score");
          ul.textContent = currentMatch[nbMatch][3];
        }
      }
      if (round == 4){
        if (currentMatch[nbMatch][2] > currentMatch[nbMatch][3])
            C1C2matchElement.classList.add("winner-top");
          else
            C1C2matchElement.classList.add("winner-bottom");
        ul = document.getElementById("C1_score");
        ul.textContent = currentMatch[nbMatch][2];
        ul = document.getElementById("C2_score");
        ul.textContent = currentMatch[nbMatch][3];
      }
      printTournamentPlayer();
    }
</script>

{% endblock %}