{% extends "master.html" %}

{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
  Tournament
{% endblock %}

{% block content %}
</br>

<button id="NewUser">Ajouter un joueur</button>
<div id="casesTexte" style="display: none;">
  <form action="{% url 'add_member' %}" method="post">
    {% csrf_token %}
    <label for="username">Username :</label>
    <input type="text" id="username" name="username"><br>
    {% if form.username.errors %}
      <div class="error">{{ form.username.errors }}</div>
    {% endif %}
  
    <input type="submit" value="Ajouter">
  </form>
</div>


<h1>List of Games</h1>
<ul style="overflow-y: auto; max-height: 500px;">
  {% for game in allGames %}
    <span>{{ game.id }}</span>
    <span>{{ game.player1.username }}</span>
    <span>{{ game.scorePlayer1 }}</span>
    <span>vs</span>
    <span>{{ game.scorePlayer2 }}</span>
    <span>{{ game.player2.username }}</span>
    <span>in</span>
    <span>{{ game.gameplayMode }}</span>
    <span>mode</span>
    </br>
  {% endfor %}
</ul>


<script type="module" src="{% static 'tournament/js/gameData.js' %}"></script>

<script>
  const newUserButton = document.getElementById("NewUser");
  const casesTexteDiv = document.getElementById("casesTexte");

  newUserButton.addEventListener("click", function() {
      if (casesTexteDiv.style.display === "none") {
          casesTexteDiv.style.display = "block";
      } else {
          casesTexteDiv.style.display = "none";
      }
  });
</script>

{% endblock %}
