<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample Website</title>
    <link rel="stylesheet" href="{% static 'html/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'html/css/loginPage.css' %}">
    <link rel="stylesheet" href="{% static 'html/css/rsContainer.css' %}">
    <link rel="stylesheet" href="{% static 'html/css/planetPage.css' %}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/"
          }
        }
      </script>
</head>
<body>
  <div class="loginPageUI">
    <div class="title">
      TRANSCENDENCIA
      <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}">
    </div>
    <div class="container">
      <div id="messageContainer" class="loginMessage"></div>
      <form id="loginForm" method="post" action="login/">
        {% csrf_token %}
        <!-- <p class="loginMessage">{{ message }}</p> -->
        <div class="titleText" id="loginText">
          - Login -
          <div class="textBar">
            <input class="text-input" name="username" spellcheck="false">
            <img src="{% static 'html/assets/icons/frame.png' %}">
          </div>
        </div>
        <div class="titleText" id="passwordText">
          - Password -
          <div class="textBar">
            <input class="text-input" name="password" spellcheck="false" type="password">
            <img src="{% static 'html/assets/icons/frame.png' %}">
          </div>
        </div>
        <button type="submit" style="display: none;">Submit</button>
      </form>
    </div>
    <div class="languageColumn" id="loginLanguageText">
      <div class="languageSettings">
        <div class="languageIcon" id="esp">
          <div class="icon" style="background-image: url('../static/html/assets/icons/mexicanAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/ES_NU.png');"></div>
        </div>
        <div class="languageIcon" id="fr">
          <div class="icon" style="background-image: url('../static/html/assets/icons/frenchAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/FR_NU.png');"></div>
        </div>
        <div class="languageIcon glow" id="en">
          <div class="icon" style="background-image: url('../static/html/assets/icons/englishAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/BR_NU.png');"></div>
        </div>
      </div>
      <div class="separator"></div>
      - Choose a language -
    </div>
  </div>
  
    <div id="a">
      <canvas id="c1"></canvas>
    </div>

    <div class="coloredPanel"></div>
    <div id="enterPlanetTextContainer">
      <div id="enterPlanetText"></div>
    </div>
    <div id="rsCont" class="rightSideContainer">
      <div id="minimapContainer"></div>
      <div id="planetInfoLine0" class="planetInfoText redShadowfilter" style="text-align: center;border: none;font-size: 30px;;"> CODEX </div>
      <div id="planetInfoContainer">
        <img src= "{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
        <div id="planetInfoLine1" class="planetInfoText redShadowfilter"></div>
        <div id="planetInfoLine2" class="planetInfoText redShadowfilter"></div>
        <div id="planetInfoLine3" class="planetInfoText redShadowfilter"></div>
        <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      </div>
    </div>
    <div class="dot"></div>

    <div class="planetPanel">
      <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      <div class="square blueShadowfilter"> 
        <div id="planetTitle" class="planetInfoText redShadowfilter" style="text-align: center;border: none;font-size: 40px; top: 5%;"></div>
      </div>
    </div>
    <!-- <div class="dot"></div> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
    <script type="module" src="{% static 'html/js/main.js' %}"></script>
    <script type="module" src="{%static 'html/js/loginPage.js' %}"></script>
</body>
</html>
