<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{%static 'game/assets/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transcendencia</title>
    <link rel="stylesheet" href="{% static '../static/html/css/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/loginPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/rsContainer.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/lsContainer.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/planetPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/escapePage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/arenaPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/SignUpPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/userPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/html/css/rgpdPage.css' %}">
    <link rel="stylesheet" href="{% static '../static/game/style/style.css' %}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.129.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.129.0/examples/jsm/"
          }
        }
      </script>
</head>
<body>
  <!-- LOGIN PAGE -->
    <div class="loginPage page invisible">
    <div class="title">
      TRANSCENDENCIIA
      <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}">
    </div>
    <div class="inputContainer">
      <form id="loginForm" method="post" action="login_page/">
        {% csrf_token %}
        <div class="titleText" id="loginText">
          - Login -
          <div class="textBar">
            <input class="text-input" name="username" spellcheck="false"></input>
            <img src="{%static 'html/assets/icons/frame.png' %}">
          </div>
          <div class="littleMsgCont">
            <div class="newToTheGame">New to the game ?
              <div class="actionCont tinyBlueShadowfilter">Sign Up Here</div>
            </div>
          </div>
        </div>
        <div class="titleText" id="passwordText">
          - Password -
          <div class="textBar">
            <input class="text-input" name="password" spellcheck="false" type="password"></input>
            <img src="{%static 'html/assets/icons/frame.png' %}">
          </div>
        </div>
        <div id= "messageContainer" class="loginMessageCont"></div>
        <button type="submit" style="display: none;"></button>
      </form>
    </div>
    <div class="languageColumn" id="loginLanguageText">
      <div class="languageSettings">
        <div class="languageIcon" id="es">
          <div class="icon" style="background-image: url('../static/html/assets/icons/mexicanAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/ES_NU.png');"></div>
        </div>
        <div class="languageIcon" id="fr">
          <div class="icon" style="background-image: url('../static/html/assets/icons/frenchAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/FR_NU.png');"></div>
        </div>
        <div class="languageIcon glow" id="en">
          <div class="icon" style="background-image: url('../static/html/assets/icons/englishAlienWhite.png');" ></div>
          <div class="flag" style="background-image: url('../static/html/assets/icons/BR_NU.png');"></div>
        </div>
      </div>
      <div class="separator"></div>
      - Choose a language -
    </div>
  </div>

  <!-- SIGN UP PAGE -->
  <div class="signUpPage page invisible">
    <div class="perspective">
        <form id="signupForm" method="post" action="signup/">
          {% csrf_token %}
        Sign Up
        <p style="margin-top:-15px; font-size: 10px; color: rgb(117, 190, 255);"> create an account</p>
        <div class="titleText" style="margin-top:10px; transform: scale(1.2); font-size: 20px;" id="enterLogin">
          Login
        <div class="textBar">
          <input class="text-input" name="username" style="font-size: 30px;" spellcheck="false" ></input>
          <img src="{%static 'html/assets/icons/frame.png' %}">
        </div>
      </div>
      <div class="titleText" style="transform: scale(1.2); font-size: 20px;" id="enterPassword">
          Password
        <div class="textBar">
          <input class="text-input" name="password" style="font-size: 30px;" spellcheck="false" type="password"></input>
          <img src="{%static 'html/assets/icons/frame.png' %}">
        </div>
      </div>
      <div class="titleText" style="transform: scale(1.2); font-size: 20px;" id="confirmPassword">
        confirm password
        <div class="textBar">
          <input class="text-input" name="confirmation_password" style="font-size: 30px;" spellcheck="false" type="password"></input>
          <img src="{%static 'html/assets/icons/frame.png' %}">
        </div>
      </div>
      </div>
      <div class="perspective3">
        <div id= "messageContainerSignup" class="signupMessageCont"></div>
      </div>
      <div class="perspective2">
        <button type="submit" class="actionCont tinyBlueShadowfilter" style="font-size: 35px;">SIGN UP</button>
      </div>
    </form>
    <div class="backButton tinyWhiteShadowfilter">
      Back to login
    </div>
</div>



  <!-- CANVAS -->
  <div id="a">
      <canvas id="c4"></canvas>
      <canvas id="c1"></canvas>
      <canvas id="c2"></canvas>
      <canvas id="c3"></canvas>
    </div>
    
    <div class="coloredPanel"></div>

    <div id="enterPlanetTextContainer">
      <div id="enterPlanetText"></div>
    </div>

    <!-- PLANET INFOS & MAP -->
    <div id="rsCont" class="rightSideContainer">
      <div id="minimapContainer"></div>
      <div id="planetInfoLine0" class="planetInfoText tinyRedShadowfilter" style="text-align: center;border: none;font-size: 30px;"> CODEX </div>
      <div id="planetInfoContainer">
        <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
        <div id="planetInfoLine1" class="planetInfoText tinyRedShadowfilter"></div>
        <div id="planetInfoLine2" class="planetInfoText tinyRedShadowfilter"></div>
        <div id="planetInfoLine3" class="planetInfoText tinyRedShadowfilter"></div>
          <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      </div>
    </div>

    <div id="lsCont" class="leftSideContainer">
      <div class="tinyRedShadowfilter">
        Players Connected
      </div>
    </div>
    <!-- ARENA PLANET -->
    <div class="planetPanel">
        <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
        <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      <div class="background blueShadowfilter">
        <div class="leftColumn">
          <div id="userlistText" style="font-size: 20px; font-family: 'space'; color: white"> User List </div>
          <div id="userlistArenaPage" class="userlistBackground">
        <div id="botUserTile" class="userTile" style="background-color: rgba(132, 0, 255, 0.5);"> 
          <div class="imgContainer" style="border-color: rgb(164, 67, 255);"><img src="{% static 'html/assets/icons/botLogo.jpg' %}"></div>
          <div class="textContainer" style="color: rgb(164, 67, 255); border-color: rgb(164, 67, 255);">Bot</div>
        </div>
        </div>
        </div>
        <div class="rightColumn">
          <div id="arenaTitleText" style="font-size: 50px; font-family: 'space'; color: white;"> Arena </div>
          <div class="choosePlayerCont">
          <div class="thirdPlayerCont">
            <div class="plusPlayer"><div style="pointer-events: none;">+</div></div>
            <div id="player3Text" style="font-size: 15px; font-family: 'space'; color: white;"></div>
          </div>
          <div class="rightColumnRow">
              <div class="elemCont">
                <div class="userInfoCont">
                  <div class="profilePic">
                  <img src="{% static 'html/assets/icons/ES_NU.png' %}">
                </div>
                AtomiK
              </div>
              <div id="player1Text" style="font-size: 15px; font-family: 'space'; color: white;"> Player 1 </div>
            </div>
            <div class="movingSpaceShip1">
              <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}" style="transform: scale(0.08) rotate(90deg);">
            </div>
            <div class="elemCont">
              <div class="pongField blueShadowfilter"><div class="ball"></div></div>
            </div>
            <div class="movingSpaceShip2">
              <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}" style="transform: scale(0.08) rotate(-90deg);">
            </div>
            <div class="elemCont">
              <div class="plusPlayer"><div style="pointer-events: none;">+</div></div>
              <div id="player2Text" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 2 </div>
            </div>
          </div>
          </div> 
            <div class="buttonsCont">
              <div class="optionButton">
                <div class="buttonTitle">
                <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1); z-index: 5;">
                <div id="gamemodeText">
                  gamemode
                </div>
                <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
                </div>
              <div id="gamemodeNameText" class="buttonCont" style="font-size: 20px;">Classic</div>
              </div>
              <div class="optionButton">
                <div class="buttonTitle">
                  <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1);">
                <div id="mapsText">
                    Maps
                </div>
                  <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
                </div>
                <div class="buttonCont">Space</div>
              </div>
              <div class="optionButton">
                <div class="buttonTitle">
                  <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1);">
                    ?
                  <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
                </div>
                <div class="buttonCont"></div>
              </div>
            </div>
            <div id="startText" class="redButton">Start</div>
        </div>
      </div>
    </div> 

    <!-- USER PLANET -->
    <div class="planetPanel">
      <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
      <div class="background blueShadowfilter" style="flex-direction: column; align-items: flex-start;">
        <div id="arenaTitleText" style="font-size: 50px; font-family: 'space'; color: white; margin-top: -15px;"> Profile </div>
        <div class="userPagesContainer">
          <div id="hostUserPage" class="userPage">
            <div class="rightColumn" style="width: 75%;">
              <div class="aboveStatsBlock">
                <div class="leftBlock">
                  <div class="userInfoBlock">
                    <div class="nameImgBlock" id="profile_info">
                      <div class="imgFrame"><img id="profile_pic" src="" alt="Photo de profil"></div> <!-- Photo de profil-->
                      <div class="mail-pseudo-info">
                        <div id="username" style="color: rgb(255, 255, 255); "></div> <!-- Username -->
                        <div id="bio" style="font-size: 10px; color: rgb(189, 209, 255); overflow-wrap: break-word;"></div> <!-- Bio -->
                      </div>
                      <div class="pencilImg">
                        <!-- <button class="pencil" onclick="showPage()"></button> -->
                        <img src="{% static 'html/assets/icons/pencil.png' %}">
                      </div>
                    </div>
                    <div class="winLoseTexts">
                        <div style="font-family: 'Space'; font-size: 20px; color: white"> Parties : 13</div> 
                        <div style="font-family: 'Space'; font-size: 20px; color: white"> Victoires : 5</div> 
                        <div style="font-family: 'Space'; font-size: 20px; color: white"> Defaites : 8</div>
                        <div style="font-family: 'Space'; font-size: 20px; color: white"> Buts : 33</div>
                      </div>
                    </div>
                  <div class="statsModesBlock">
                   <p>statistics</p> 
                   <div class="statsModes">
                     <div class="statButton" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; background-color: #5d75ff47;">Stat1</div>
                     <div class="statButton" style="border-radius: 0px;">Stat2</div>
                     <div class="statButton" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Stat3</div>
                    </div>
                  </div>
                </div>
                <div class="rightBlock">
                <div id="historyText" style="font-size: 20px; font-family: 'space'; color: white; margin-bottom: 4px">History</div>
                  <div class="history">
                  </div>
                </div>
              </div>
              <div class="statsBlock"></div>
            </div>
      <div class="leftColumn" style="width: 22%; height: 100%; justify-content: space-between;">
        <div id="FriendListText" style="font-size: 20px; font-family: 'space'; color: white"> Friends List </div>
        <div class="friendSearchBar">
          <input id="searchInput" class="text-input2" style="font-size: 15px;" spellcheck="false" placeholder="Look for users . . ."></input>
        </div>
        <div id="userlistUserPage" class="userlistBackground" style="height:85%; width: 100%; border-radius: 10px;">
        </div>
      </div>
    </div>
    <div id="exploreUserPage" class="exploreUserPage">
      <div class="rightColumn" style="width: 75%;">
        <div class="aboveStatsBlock">
          <div class="leftBlock">
            <div class="userInfoBlock">
              <div class="nameImgBlock" id="profile_info">
                <div class="imgFrame"><img id="profile_pic" src="" alt="Photo de profil"></div> 
                <div class="mail-pseudo-info">
                  <div id="username" style="color: rgb(255, 255, 255); "></div> 
                  <div id="bio" style="font-size: 10px; color: rgb(189, 209, 255); overflow-wrap: break-word;"></div> 
                </div>
                <div class="pencilImg">
                  <img src="{% static 'html/assets/icons/pencil.png' %}">
                </div>
              </div>
              <div class="winLoseTexts">
                  <div style="font-family: 'Space'; font-size: 20px; color: white"> Parties : 13</div> 
                  <div style="font-family: 'Space'; font-size: 20px; color: white"> Victoires : 5</div> 
                  <div style="font-family: 'Space'; font-size: 20px; color: white"> Defaites : 8</div>
                  <div style="font-family: 'Space'; font-size: 20px; color: white"> Buts : 33</div>
                </div>
              </div>
            <div class="statsModesBlock">
              <p>statistics</p> 
              <div class="statsModes">
                <div class="statButton" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px; background-color: #5d75ff47;">Stat1</div>
                <div class="statButton" style="border-radius: 0px;">Stat2</div>
                <div class="statButton" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;">Stat3</div>
              </div>
            </div>
          </div>
          <div class="rightBlock">
          <div id="historyText" style="font-size: 20px; font-family: 'space'; color: white; margin-bottom: 4px">History</div>
            <div class="history">
            </div>
          </div>
        </div>
        <div class="statsBlock"></div>
      </div>
<div class="leftColumn" style="width: 22%; height: 100%; justify-content: space-between;">
  <div id="FriendListText" style="font-size: 20px; font-family: 'space'; color: white"> Friends List </div>
  <div class="friendSearchBar">
    <input class="text-input2" style="font-size: 15px;" spellcheck="false" placeholder="Look for users . . ."></input>
  </div>
  <div id="userlistUserPage" class="userlistBackground" style="height:85%; width: 100%; border-radius: 10px;">
  </div>
</div>
</div>  
</div>
</div>
</div>  
</div>

<!-- ESCAPE PAGE -->
<div class="coloredPanel"></div>
<div class="structure">
  <div class="pauseTitle">
    <img src="{% static 'game/assets/scoreUI.png' %}">
    PAUSE
    <img src="{% static 'game/assets/scoreUI.png' %}">
  </div>
  <div class="escapeBG">
    <div class="settings">
      <div class="languageColumn" id="graphicsText" style="width: 50%; height: 40%;">
            <div class="languageSettings">
            <div class="graphicsIcon" id="graphicsIcon1">Simple</div>
            <div class="graphicsIcon redGlow" id="graphicsIcon2">Classic</div>
            <div class="graphicsIcon" id="graphicsIcon3">Detailed</div>
            </div>
            <div class="separator"></div>
            Graphics
          </div>
          <div class="languageColumn" id="EscapeLanguageText" style="width: 50%; height: 40%;">
            <div class="languageSettings">
              <div class="languageIcon" id="es1">
                <div class="icon" style="background-image: url('../static/html/assets/icons/mexicanAlienWhite.png');" ></div>
                <div class="flag" style="background-image: url('../static/html/assets/icons/ES_NU.png');"></div>
              </div>
              <div class="languageIcon" id="fr1">
                <div class="icon" style="background-image: url('../static/html/assets/icons/frenchAlienWhite.png');" ></div>
                <div class="flag" style="background-image: url('../static/html/assets/icons/FR_NU.png');"></div>
              </div>
              <div class="languageIcon glow" id="en1">
                <div class="icon" style="background-image: url('../static/html/assets/icons/englishAlienWhite.png');" ></div>
                <div class="flag" style="background-image: url('../static/html/assets/icons/BR_NU.png');"></div>
              </div>
            </div>
            <div class="separator"></div>
      Language
    </div>
  </div>
    <div class="loggedAs">
      Currently logged as :
      <div class="userInfoCont">
        <div class="profilePic">
          <img src="{% static 'html/assets/icons/ES_NU.png' %}">
        </div>
        AtomiK
      </div>
    </div>
      <div class="redButton" id="disconnectButton" style="margin-top: -30px;width: 35%; height: 8%;">Disconnect</div>
    </div>
    </div>

    <!-- RGPD PAGE -->          
  </div>
  <div class="rgpdPage page invisible" >
    <div id="RGPDTitle" class="title" style="font-size : 40px;">
      PRIVACY POLICY
    </div>
    <div class="rgpdFrame">
    <img src="{% static 'game/assets/scoreUI.png' %}" style="transform: rotate(180deg);">
    <div class="backgroundRGPDText">
    <div id="RGPDTexte" class="text-content">
      The ft_transcendance organization collects only the data necessary for the proper functioning of the tournaments and does not communicate them to any other organization. The legal basis for data processing and user consent. You can modify your data, delete your profile at any time in going in the planete profile. Your data is automatically deleted one year after your last connection. For any reclamation you can go to the CNIL website. 
    </div>
    </div>
    <img src="{% static 'game/assets/scoreUI.png' %}">
  </div>
  </div>

  <!-- GAME STUFF -->
  <div class="bluebar glow"></div>
  <div class="gameUI">
    <div class="scoreUI">
      <div class="centerRectangle glow" style="border-color: rgb(171, 31, 0); box-shadow: rgb(171, 31, 0);">
        <div class="speedbar"></div>
        <div class="speedbar" style="animation-delay: 250ms;"></div>
      </div>
      <div class="asset">
        <img src="{% static 'game/assets/scoreUI.png' %}" class="shadowfilter">
        <div class="parallelogram glow" style="left: 90%;"></div>
        <div class="parallelogram glow" style="left: 101%;"></div>
        <div class="parallelogram glow" style="left: 112%;;"></div>
      </div>
      <div class="asset" style="transform: scaleX(-1);">
        <img src="{% static 'game/assets/scoreUI.png' %}" class="shadowfilter">
        <div class="parallelogram glow" style="left: 90%;"></div>
        <div class="parallelogram glow" style="left: 101%;"></div>
        <div class="parallelogram glow" style="left: 112%;;"></div>
      </div>
    </div>
    <div class="profileCont">
      <div class="elemCont">
        <div class="userInfoCont">
          <div class="profilePic">
            <img src="{% static 'html/assets/icons/ES_NU.png' %}">
          </div>
          AtomiK
        </div>
      </div>
    </div>
    <div class="profileCont2" style="transform: scaleX(-1);">
    <div class="elemCont">
        <div class="userInfoCont">
          <div class="profilePic">
            <img src="{% static 'html/assets/icons/BR_NU.png' %}" style="transform: scaleX(-1);">
          </div>
          <p style="transform: scaleX(-1);">
            TonDaron
          </p>
        </div>
      </div>
    </div>
    <div class="profileCont3" style="transform: translate(-50%, -50%) scale(0.7);">
        <div class="userInfoCont">
          <div class="profilePic">
            <img src="{% static 'html/assets/icons/FR_NU.png' %}">
          </div>
          blipbloup
        </div>
    </div>
  </div>
  <div id="fps-counter" style="position: fixed; top: 10px; left: 10%; background: rgba(0, 0, 0, 0.5); color: white; padding: 5px;"></div>
    
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/7/Stats.js"></script>
    <script type="module" src="{% static 'html/js/main.js' %}"></script>
    <script type="module" src="{% static 'html/js/arenaPage.js' %}"></script>
    <script type="module" src="{% static 'html/js/loginPage.js' %}"></script>
    <script type="module" src="{% static 'html/js/translatePages.js' %}"></script>
    <script type="module" src="{% static 'html/js/userPage.js' %}"></script>
    <script type="module" src="{% static 'game/js/main.js' %}"></script>

</body>
</html>
