{% extends "master.html" %}

{% load static %}

{% block title %}
  Tournament
{% endblock %}

{% block content %}

<div class="planetPanel">
  <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
  <img src="{% static 'game/assets/scoreUI.png' %}" class="blueShadowfilter">
  <!-- <div class="background blueShadowfilter"> 
    <div class="container">
      <div class="row">
        <div class="col-md-9 square maClasse">
          <div class="before-launch">
            <h2>Players in tournament :</h2>
            <div id="tableContainer">
              <table id="tournamentTable">
                <tbody>
                </tbody>
              </table>
            </div>
            <p id="error_msg"></p>
            <button id="launch" class="bottom">Launch tournament</button>
          </div>
          when the tournament is launch
          <div id="bracket" class="theme theme-dark" style="display:none;">
            <div class="bracket">
              <div class="column one">
                <div id="A1-A2-match" class="match">
                  <div id="A1" class="match-top team" style="display:none;">
                    <span id="A1_name" class="name"></span>
                    <span id="A1_score" class="score"></span>
                  </div>
                  <div id="A2" class="match-bottom team" style="display:none;">
                    <span id="A2_name" class="name"></span>
                    <span id="A2_score" class="score"></span>
                  </div>
                  <div id="first-top-top" style="display:none;">
                    <div class="match-lines">
                      <div class="line one"></div>
                      <div class="line two"></div>
                    </div>
                    <div class="match-lines alt">
                      <div class="line one"></div>
                    </div>
                  </div>
                </div>
                <div id="A3-A4-match" class="match">
                  <div id="A3" class="match-top team" style="display:none;">
                    <span id="A3_name" class="name"></span>
                    <span id="A3_score" class="score"></span>
                  </div>
                  <div id="A4" class="match-bottom team" style="display:none;">
                    <span id="A4_name" class="name"></span>
                    <span id="A4_score" class="score"></span>
                  </div>
                  <div id="first-top-bot" style="display:none;">
                    <div class="match-lines">
                      <div class="line one"></div>
                      <div class="line two"></div>
                    </div>
                    <div class="match-lines alt">
                      <div class="line one"></div>
                    </div>
                  </div>
                </div>
            <div id="A5-A6-match" class="match">
              <div id="A5" class="match-top team" style="display:none;">
                <span id="A5_name" class="name"></span>
                <span id="A5_score" class="score"></span>
              </div>
              <div id="A6" class="match-bottom team" style="display:none;">
                <span id="A6_name" class="name"></span>
                <span id="A6_score" class="score"></span>
              </div>
              <div id="first-bot-top" style="display:none;">
                <div class="match-lines">
                  <div class="line one"></div>
                  <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                  <div class="line one"></div>
                </div>
              </div>
            </div>
            <div id="A7-A8-match" class="match">
              <div id="A7" class="match-top team" style="display:none;">
                <span id="A7_name" class="name"></span>
                <span id="A7_score" class="score"></span>
              </div>
              <div id="A8" class="match-bottom team" style="display:none;">
                <span id="A8_name" class="name"></span>
                <span id="A8_score" class="score"></span>
              </div>
              <div id="first-bot-bot" style="display:none;">
                <div class="match-lines">
                  <div class="line one"></div>
                  <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                  <div class="line one"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="column two">
            <div id="B1-B2-match" class="match">
              <div id="B1" class="match-top team" style="display:none;">
                <span id="B1_name" class="name"></span>
                <span id="B1_score" class="score"></span>
              </div>
              <div id="B2" class="match-bottom team" style="display:none;">
                <span id="B2_name" class="name"></span>
                <span id="B2_score" class="score"></span>
              </div>
              <div id="second-top" class="match-lines" style="display:none;">
                <div class="line one"></div>
                <div class="line two"></div>
              </div>
              <div id="first-second-top" class="match-lines alt" style="display:none;">
                <div class="line one"></div>
              </div>
            </div>
            <div id="B3-B4-match" class="match">
              <div id="B3" class="match-top team" style="display:none;">
                <span id="B3_name" class="name"></span>
                <span id="B3_score" class="score"></span>
              </div>
              <div id="B4" class="match-bottom team" style="display:none;">
                <span id="B4_name" class="name"></span>
                <span id="B4_score" class="score"></span>
              </div>
              <div id="second-bot" class="match-lines" style="display:none;">
                <div class="line one"></div>
                <div class="line two"></div>
              </div>
              <div id="first-second-bot" class="match-lines alt" style="display:none;">
                <div class="line one"></div>
              </div>
            </div>
          </div>
          <div class="column three">
            <div id="C1-C2-match" class="match">
              <div id="C1" class="match-top team" style="display:none;">
                <span id="C1_name" class="name"></span>
                <span id="C1_score" class="score"></span>
              </div>
              <div id="C2" class="match-bottom team" style="display:none;">
                <span id="C2_name" class="name"></span>
                <span id="C2_score" class="score"></span>
              </div>
              <div class="match-lines">
                <div class="line one"></div>
                <div class="line two"></div>
              </div>
              <div id="second-line" class="match-lines alt" style="display:none;">
                <div class="line one"></div>
              </div>
            </div>        
          </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 square">
          <div class="container">
            <div class="before-launch">
              <ul class="responsive-table">
                <li class="table-header">
                  <div class="col col-1">Players</div>
                </li>
                {% for x in mymembers %}
                <li class="table-row">
                  <div class="col col-1"><img class="icon" src="{% static 'tournament/img/th.jpg' %}"></div>
                  <div class="col col-2"><a href="#" class="username-link">{{ x.username }}</a></div>
                </li>
                {% endfor %}
              </ul>
              <button id="NewUser" class="bottom"><a href="/add_player">Add a player</a></button>
            </div>
          </div>
          when the tournament is ready to be played
          <h2 id="next-match" style="display:none;">Next match to be played:</h2>
          <p id="matchup"></p>
          <button id="launchMatch" class="bottom" style="display:none;">Start match</button>
          <p id="match"></p>
          <p id="result"></p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="background blueShadowfilter" style="flex-direction: column;">
    <div class="titleTournament">
      <div id="arenaTitleText" style="font-size: 50px; font-family: 'space'; color: white;"> Tournament </div>
    </div>
    <div class="secondLine">
      <div id="leftColumn" class="leftColumn">
        <div id= "userlistText" class="before-launch" style="font-size: 20px; font-family: 'space'; color: white;"> User list </div>
        <div class="userlistBackground before-launch">
          <div class="userTile" style="background-color: rgba(132, 0, 255, 0.5);"> 
            <div class="imgContainer" style="border-color: rgb(164, 67, 255);"><img src="{% static 'html/assets/icons/botLogo.jpg' %}"></div>
            <div class="textContainer" style="color: rgb(164, 67, 255); border-color: rgb(164, 67, 255);">Bot</div>
          </div>
          {% for x in mymembers %}
            <div class="userTile">
              <div class="imgContainer"><img src="{% static 'html/assets/icons/FR_NU.png' %}"></div>
              <div class="textContainer username-link">{{ x.username }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    <div id="midColumn" class="rightColumn">
      <!-- <div id="arenaTitleText" style="font-size: 50px; font-family: 'space'; color: white;"> Tournament </div> -->
      <div class="addPlayerToTournament before-launch">
        <!-- <div class="miniGame">
          <div class="movingSpaceShip3">
            <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}" style="transform: scale(0.08) rotate(90deg);">
          </div>
          <div class="elemCont">
            <div class="pongField blueShadowfilter"><div class="ball1"></div></div>
          </div>
          <div class="movingSpaceShip4">
            <img src="{% static 'html/assets/icons/spaceshipIcon.png' %}" style="transform: scale(0.08) rotate(-90deg);">
          </div>
        </div> -->
        <div class="elemCont1">
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player1TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 1 </div>
          </div>
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player2TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 2 </div>
          </div>
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player3TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 3 </div>
          </div>
        </div>
        <div class="elemCont1">
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player4TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 4 </div>
          </div>
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player5TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 5 </div>
          </div>
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player6TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 6 </div>
          </div>
        </div>
        <div class="elemCont1">
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player7TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 7 </div>
          </div>
          <div class="addPlayer">
            <div class="plusPlayer">+</div>
            <div id="player8TournamentText" style="z-index:99; font-size: 15px; font-family: 'space'; color: white;"> Player 8 </div>
          </div>
        </div>
      </div> 
      <div id="launch" class="startButton before-launch">Start</div>
      <div id="error_msg" class="before-launch"></div>
      <!-- when the tournament is launch -->
      <h2 id="next-match" style="display:none;">Next match to be played:</h2>
      <p id="match"></p>
      <div id="launchMatch" class="startMatchButton" style="display:none;">Start match</div>
      <p id="result"></p>
    </div>
    <div id="rightColumn" class="rightColumnTournament">
      <div class="buttonsContVert before-launch">
        <div class="optionButtonVert">
          <div class="buttonTitle">
            <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1); z-index: 5;">
            <div id="powerupsText">
              Powerups
          </div>
          <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
          </div>
        <div id="enabledText" class="buttonCont" style="border: 4px solid rgb(79, 226, 0); background-color: rgba(38, 255, 0, 0.374); color: rgb(79, 226, 0);">Enabled</div>
        </div>
        <div class="optionButtonVert">
          <div class="buttonTitle">
            <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1);">
          <div id="mapsText">
              Maps
          </div>
            <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
          </div>
          <div class="buttonCont">Arabic</div>
        </div>
        <div class="optionButtonVert">
          <div class="buttonTitle">
            <img src="{% static 'html/assets/icons/doubleArrow2.png' %}" style="transform: scaleX(-1);">
              ?
            <img src="{% static 'html/assets/icons/doubleArrow2.png' %}">
          </div>
          <div class="buttonCont"></div>
        </div>
      </div>
      <div id="bracket" class="theme theme-dark before-launch" style="display:none;">
        <div class="bracket">
          <div class="column one">
            <div id="A1-A2-match" class="match">
              <div id="A1" class="match-top team" style="display:none;">
                <span id="A1_name" class="name"></span>
                <span id="A1_score" class="score"></span>
              </div>
              <div id="A2" class="match-bottom team" style="display:none;">
                <span id="A2_name" class="name"></span>
                <span id="A2_score" class="score"></span>
              </div>
              <div id="first-top-top" style="display:none;">
                <div class="match-lines">
                  <div class="line one"></div>
                  <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                  <div class="line one"></div>
                </div>
              </div>
            </div>
            <div id="A3-A4-match" class="match">
              <div id="A3" class="match-top team" style="display:none;">
                <span id="A3_name" class="name"></span>
                <span id="A3_score" class="score"></span>
              </div>
              <div id="A4" class="match-bottom team" style="display:none;">
                <span id="A4_name" class="name"></span>
                <span id="A4_score" class="score"></span>
              </div>
              <div id="first-top-bot" style="display:none;">
                <div class="match-lines">
                  <div class="line one"></div>
                  <div class="line two"></div>
                </div>
                <div class="match-lines alt">
                  <div class="line one"></div>
                </div>
              </div>
            </div>
        <div id="A5-A6-match" class="match">
          <div id="A5" class="match-top team" style="display:none;">
            <span id="A5_name" class="name"></span>
            <span id="A5_score" class="score"></span>
          </div>
          <div id="A6" class="match-bottom team" style="display:none;">
            <span id="A6_name" class="name"></span>
            <span id="A6_score" class="score"></span>
          </div>
          <div id="first-bot-top" style="display:none;">
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
        <div id="A7-A8-match" class="match">
          <div id="A7" class="match-top team" style="display:none;">
            <span id="A7_name" class="name"></span>
            <span id="A7_score" class="score"></span>
          </div>
          <div id="A8" class="match-bottom team" style="display:none;">
            <span id="A8_name" class="name"></span>
            <span id="A8_score" class="score"></span>
          </div>
          <div id="first-bot-bot" style="display:none;">
            <div class="match-lines">
              <div class="line one"></div>
              <div class="line two"></div>
            </div>
            <div class="match-lines alt">
              <div class="line one"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="column two">
        <div id="B1-B2-match" class="match">
          <div id="B1" class="match-top team" style="display:none;">
            <span id="B1_name" class="name"></span>
            <span id="B1_score" class="score"></span>
          </div>
          <div id="B2" class="match-bottom team" style="display:none;">
            <span id="B2_name" class="name"></span>
            <span id="B2_score" class="score"></span>
          </div>
          <div id="second-top" class="match-lines" style="display:none;">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div id="first-second-top" class="match-lines alt" style="display:none;">
            <div class="line one"></div>
          </div>
        </div>
        <div id="B3-B4-match" class="match">
          <div id="B3" class="match-top team" style="display:none;">
            <span id="B3_name" class="name"></span>
            <span id="B3_score" class="score"></span>
          </div>
          <div id="B4" class="match-bottom team" style="display:none;">
            <span id="B4_name" class="name"></span>
            <span id="B4_score" class="score"></span>
          </div>
          <div id="second-bot" class="match-lines" style="display:none;">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div id="first-second-bot" class="match-lines alt" style="display:none;">
            <div class="line one"></div>
          </div>
        </div>
      </div>
      <div class="column three">
        <div id="C1-C2-match" class="match">
          <div id="C1" class="match-top team" style="display:none;">
            <span id="C1_name" class="name"></span>
            <span id="C1_score" class="score"></span>
          </div>
          <div id="C2" class="match-bottom team" style="display:none;">
            <span id="C2_name" class="name"></span>
            <span id="C2_score" class="score"></span>
          </div>
          <div class="match-lines">
            <div class="line one"></div>
            <div class="line two"></div>
          </div>
          <div id="second-line" class="match-lines alt" style="display:none;">
            <div class="line one"></div>
          </div>
        </div>        
      </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script type="module" src="{% static 'tournament/js/newTournament.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"></script>
<script type="module" src="{% static 'html/js/main.js' %}"></script>
<script type="module" src="{% static 'html/js/arenaPage.js' %}"></script>
<script type="module" src="{% static 'html/js/loginPage.js' %}"></script>
<script type="module" src="{% static 'html/js/translatePages.js' %}"></script>


{% endblock %}