.leftSideContainer {
	/* border: 5px solid wheat; */
	position: fixed;
	display: flex;
	align-items: flex-start;
    justify-content:flex-start;
	top: 0%;
    color: rgb(255, 0, 0);
	left: -50%;
    height: 100%;
	font-family: "computer";
	flex-direction: column;
	width: auto; /* Change width to auto */
	max-width: max-content; /* Set a minimum width */
}

.log   {
    margin: -8px 0px -8px 0px;
    transform: scale(0.5) translateX(-100px);
}