.planetPanel {
	display: flex;
	flex-direction: column;
	position: fixed;
	transform: translate(-50%, -50%) rotate(90deg) scale(0.01);
	top: 50%;
	left: 50%;
	opacity: 0;
}

.background {
	background-color: #4a65ff1f;
	border-radius: 5px;
	border: 2px solid #3777ff;
	width: 0;
	height: 10%;
	position: absolute;
	transform: translate(-50%, -50%) rotate(-90deg);
	top: 50%;
	left: 50%;;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.page {
	border: solid 5px wheat;
	height: 90%;
	width: 90%;
}
.planetPanel img:first-child{
	transform: rotate(180deg) translateX(12vh);
}

.planetPanel img{
	transform: translateX(12vh);

}

@keyframes roll {
	1%{opacity: 1;}
	100% {opacity: 1;transform: translate(-50%, -50%) rotate(450deg) scale(1);}
	
}

@keyframes moveImageLeft {
	0% {opacity: 0;}
	40% {opacity: 1; transform: translateX(12vh);}
	90% {opacity: 1;transform: translateX(-15vh);}
    100% {opacity: 1;transform: translateY(35vw) translateX(-15vh);}
}

@keyframes moveImageRight {
	0% {opacity: 0;}
	40% {opacity: 1;transform: rotate(180deg) translateX(12vh);}
	90% {opacity: 1;transform: rotate(180deg) translateX(-15vh);}
    100% {opacity: 1;transform: rotate(180deg) translateY(35vw) translateX(-15vh);}
}

@keyframes expandBG {
	0% {height: 0%; width: 1.5vw;}
	40% {height: 0%; width: 1.5vw;}
	90% {height: 75vh; width: 1.5vw;}
	100% {width: 70vw; height: 75vh}
}

@keyframes moveImageLeftreverse {
	100% {opacity: 0;}
	60% {opacity: 1;transform: translateX(12vh);}
	10% {opacity: 1;transform: translateX(-15vh);}
    0% {opacity: 1;transform: translateY(35vw) translateX(-15vh);}
}

@keyframes moveImageRightreverse {
	100% {opacity: 0;}
	60% {opacity: 1; transform: rotate(180deg) translateX(12vh);}
	10% {opacity: 1;transform: rotate(180deg) translateX(-15vh);}
    0% {opacity: 1;transform: translateY(-35vw) rotate(180deg) translateX(-15vh);}
}

@keyframes upDownImgR {
	0% {transform: translateX(-15vh) translateY(35vw)}
	100% {transform: translateX(-12vh) translateY(35vw)}
}

@keyframes upDownImgL {
	0% {transform: rotate(180deg) translateX(-15vh) translateY(35vw)}
	100% {transform: rotate(180deg) translateX(-12vh) translateY(35vw)}
}

@keyframes expandBGreverse {
	0% {height: 75vh; width: 70vw;}
    10% {height: 75vh; width: 1.5vw;}
	60% {height: 0%; width: 1.5vw; border: 2px solid #3777ff;}
	100% {height: 0%; width: 1.5vw; border: none;}
}

