body {
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

#a {
    display: flex;
    flex-direction: row;
    background-color: #333; /* Set background color to black/gray space color */
    width: 100vw; /* Use viewport width for container */
    height: 100vh; /* Use viewport height for container */
}

#c1 {
    width: 100%; /* Each canvas takes up 50% of the window width */
    height: 100%; /* Each canvas fills the entire window height */
    margin: 1px;
}

.card {
    background: rgba(255, 2, 2, 0.1); /* Adjust the last value (0.7) to change transparency */
}

#c1 {
    order: 1; /* Set the order of #c1 to 1 (display on the left) */
}

#enterPlanetTextContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#enterPlanetText {
    color: #00ff00;
    font-size: 20px;
    font-family: "Space";
}

.coloredPanel {
    position: fixed;
    border: 10px solid white;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 166, 0, 0.178);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: -5;
    opacity: 0;
    transition: opacity 1s;
}

/* Style the dot */
.dot {
   width: 5px;
   height: 5px;
   background-color: white;
   opacity: 0.4;
   border-radius: 50%;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}