.leftColumn {
    /* border: 5px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 20%;
    text-align: center;
    z-index: 1;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.whiteGlowing {
    animation: shadowBlink 0.5s infinite alternate linear;
}

.userlistBackground {
    background-color: #000f61b2;
    border-radius: 5px;
    border: 4px solid #3777ff;
    height: 80%; /* Adjust the height as needed */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
}

@keyframes shadowBlink {
    100% {box-shadow: 0 0 10px white; }
    0% {box-shadow: 0 0 10px #ffffff00; }
}

.friendBg {
    background-color: rgba(14, 255, 110, 0.5) !important;
}

.botBg {
    background-color: rgba(164, 67, 255, 0.500) !important;
}

.defaultBg {
    background-color: rgba(90, 142, 255, 0.500) !important;
}


.plusPlayer {
    font-family: "computer";
    font-size: 150px;
    color: white;
    background-color: rgb(20, 20, 20);
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    z-index: 90;
}

.plusPlayer:hover {
    background-color: rgb(50,50,50);
    cursor:url('../../game/assets/cursor/pointer.cur'), pointer;

}

.movingSpaceShip1 {
    margin-right: -15px;
    border-right: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    animation: moveUpDown 2s infinite alternate linear;
    z-index: 1;
}

.movingSpaceShip2 {
    margin-left: -15px;
    border-left: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    animation: moveUpDown 2s infinite alternate 2s linear;
    z-index: 1;
}

@keyframes moveUpDown {
    0% {transform: translateY(50px); /* Initial position */}
    100% {transform: translateY(-50px); /* Move up by 50px */}
  }

  @keyframes ballMoveLeftRight {
    0% {transform: translateX(135px); /* Initial position */}
    100% {transform: translateX(-135px); /* Move up by 50px */}
  }


.elemCont {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdPlayerCont {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightColumnRow {
    /* border: 2px solid wheat; */
    padding: 0;
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.buttonsCont {
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 20%;
    width: 98%;

}

.optionButton {
    border-radius: 5px;
    margin: 5px 0px;
    height: 85%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.buttonTitle {
    border-radius: 15px ;
    border: 5px solid #3777ff;
    background-color: #000f61b2;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space';
    height: 20%;
    width: 85%;
    font-size: 18px;
    color: white;
    z-index: 99;
}

.buttonTitle img {
    height: 120%;
    width: auto;
    cursor:url('../../game/assets/cursor/pointer.cur'), pointer;

}

.buttonCont {
    color: #ffac37;
    margin-top: -5px;
    border-radius: 5px;
    border: 4px solid #3777ff;
    border-top: none;
    background-color: rgba(52, 103, 255, 0.374);
    font-size: 25px;
    font-family: 'Space';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    width: 70%;
}

.choosePlayerCont {
    border-radius: 5px;
    height: 40%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redButton {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Space';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 25px;
    height: 10%;
    width: 30%;
    background-color: rgb(161, 0, 0);
    border: 5px solid rgb(255, 255, 255);
}

.redButton:hover {
    background-color: rgb(194, 0, 0);
    box-shadow: 0 0 40px #be1c00;
    cursor: url('../../game/assets/cursor/pointer.cur'), pointer;
}

.pongField {
    background-color: #000f61b2;
	border-radius: 5px;
	border: 4px solid #3777ff;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    background-color: #ffffff;
	border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: ballMoveLeftRight 2s linear infinite 0.9s alternate;
}

@keyframes unrollBG {
    100% {
        height: 110%;
    }
}

.enterPasswordWindow {
    display: none;
    background-color: #000f61;
    border: 4px solid #3777ff;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; /* Stack elements vertically */
    height: 40%;
    width: 60%;
    overflow: hidden;
    flex-shrink: 0;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enterPasswordWindow * {
    z-index: 5;
}