.leftColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    text-align: center;
}

.rightColumn {
    /* border: 5px solid wheat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

.rightColumn > * {
    /* border: 5px solid violet; */
}

.userlistBackground {
    background-color: #000f61b2;
    border-radius: 5px;
    border: 4px solid #3777ff;
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

@keyframes shadowBlink {
    100% {box-shadow: 0 0 40px rgba(171, 80, 0, 255)}
    0% {box-shadow: 0 0 40px rgba(171, 0, 0, 0)}
}

.userTile {
    margin: 3%;
    width: 95%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.textContainer {
    margin-left: -5px;
    border-radius: 5px;
    border: 2px solid rgba(55, 118, 255, 0.39);
    border-left: none;
    background-color: #00000031;
    font-size: 15px;
    font-family: "space";
    text-align: center;
    color: #3777ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 80%;
}

.imgContainer {
    border-radius: 5px;
    border: 4px solid rgba(55, 118, 255, 0.39);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imgContainer img{
    height: 100%;
    width: auto;
}

.plusPlayer {
    font-family: "computer";
    font-size: 150px;
    color: white;
    background-color: rgb(20, 20, 20);
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    z-index: 90;
}

.plusPlayer:hover {
    background-color: rgb(50,50,50);
}

.movingSpaceShip1 {
    margin-right: -20px;
    border-right: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    animation: moveUpDown 2s infinite alternate linear;
}

.movingSpaceShip2 {
    margin-left: -20px;
    border-left: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    animation: moveUpDown 2s infinite alternate 2s linear;
}

@keyframes moveUpDown {
    0% {transform: translateY(50px); /* Initial position */}
    100% {transform: translateY(-50px); /* Move up by 50px */}
  }

  @keyframes ballMoveLeftRight {
    0% {transform: translateX(135px); /* Initial position */}
    100% {transform: translateX(-135px); /* Move up by 50px */}
  }


.elemCont {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdPlayerCont {
    margin: 1%;
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightColumnRow {
    height: 45%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.optionButton {
    border-radius: 5px;
    margin: 25px;
    height: 75px;
    width: 150px;
    background-color: rgb(20, 20, 20);
    border: 5px solid white;
}

.choosePlayerCont {
    border-radius: 5px;
    height: 80%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000f61b2;
    border: 5px solid #3777ff;
}

.startButton {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Space';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 25px;
    height: 125px;
    width: 250px;
    background-color: rgb(161, 0, 0);
    border: 5px solid rgb(255, 255, 255);
}

.pongField {
    background-color: #000f61b2;
	border-radius: 5px;
	border: 4px solid #3777ff;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball {
    background-color: #ffffff;
	border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: ballMoveLeftRight 2s linear infinite 0.9s alternate;
}

@keyframes unrollBG {
    100% {
        height: 110%;
    }
}
