.loginPage {
    /* border: 5px solid violet; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); /* Scale up by 2 times */
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
    width :80%;
    height: 99%;
    transition: opacity 1s, visibility 0s 1s;
    opacity: 0;
    visibility: hidden;
}

/* .loginPage * {
    border: 5px solid wheat; 
} */

.inputContainer {
    margin-top: -40px;
    height: 40%;
    transform: scale(1.5);
}

.newToTheGame {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.actionCont {
    margin-left: 10px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 221, 254);
    font-size: 12px;
    z-index: 5;
    cursor: url('../../game/assets/cursor/pointer.cur'), pointer;
}

.littleMsgCont {
    font-size: 12px;
    font-family: "Space";
    text-shadow: none;
}

.actionCont:hover {
    color: rgb(117, 190, 255);
}

.separator {
    height: 2px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    background-color: white;
}

.loginMessageCont {
    pointer-events: none;
    /* position: absolute; */
    margin-top: -10px;
    text-align: center;
    font-size: 10px; /* Set font size */
    font-family: 'Space'; /* Set font family */
    color: red;
}

.languageColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Set text color */
    font-size: 25px; /* Set font size */
    font-weight: bold; /* Set font weight */
    text-align: center; /* Center align text */
    font-family: "Space";
    height: 15%;
    width: 40%;
}

.languageSettings {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.languageIcon {
    margin: 0px 30px 0px 30px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border: solid 5px white;
    transition: box-shadow 0.5s ease, border-color 0.5s ease;
    overflow: hidden;
    flex-shrink: 0;
    cursor: url('../../game/assets/cursor/pointer.cur'), pointer;
}

.icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg); /* Rotate the background image in the opposite direction */
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
}

.flag {
    opacity: 0; /* Initially hide the flag */
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
}

.languageIcon:hover .flag {
    opacity: 1; /* Show the flag on hover */
}

.languageIcon:hover .icon {
    opacity: 0; /* Show the flag on hover */
}

.title {
    font-size: 80px;
    font-family: "Space";
    color: white;
    display: flex;
    flex-direction: column; /* Display children vertically */
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
    text-shadow: 
        -5px -5px 0 black,  
         5px -5px 0 black,
        -5px  5px 0 black,
         5px  5px 0 black;
    height: 25%;
}

.titleText {
    margin: 30px 30px 30px 30px;
    color: white; /* Set text color to white */
    font-size: 25px; /* Adjust font size as needed */
    font-family: "Space";
    text-align: center;
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

.title img {
    margin: -200px;
    transform: scale(0.25);
}

.textBar {
    margin: 0px 10px 5px 10px;
    top: 50%;
    left: 50%;
    height: 43px * 1.8; /* Double the height */
    width: 452px * 1.8; /* Double the width */
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    flex-shrink: 0 0 auto;
}

.test {
    border: 2px solid white;
    height: 50%;
    width: 50%;
}

@font-face {
    font-family: 'Space'; 
    src: url('../assets/fonts/SPACE.ttf') format('truetype');
}

.text-input {
    position: absolute;
    width: 80%; /* Match the width of the container */
    height: 30%; /* Automatically adjust height based on content */
    background: none;
    border: none;
    color: white; /* Set text color to white */
    font-size: 30px; /* Adjust font size as needed */
    font-family: "Space";
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
    outline: none; /* Remove default focus outline */
    resize: none; /* Remove resize handle */
    overflow: hidden; /* Prevent scrolling */
}

.privacyPlocy {
    width: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    flex : row;
}