
.modifyPage {
    background-color: #000f61b2;
    border: 4px solid #3777ff;
	border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 95%;
    width: 95%;
    overflow: hidden;
	flex-shrink: 0;
}