
.rgpdPage {
    border: 2px solid white;

    width: 99%;
    height: 99%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.rgpdFrame {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.backgroundRGPDText {
    height: 60%;
    width:  50%;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.333);    
    color: rgb(235, 240, 244);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'space';
    font-size: 15px;
    border: 2px solid rgb(8, 20, 255);
    text-shadow: 0 0 2px black;
}

.text-content {
    margin: 0;
    padding-top: 20px;
    flex: 1;
}

.rgpdFrame img {
    width: 900px;
    height: 100px;
}

/*.rgpdPage {
    /*============= RECTANGLE =========*/
    /*Couleur du rectangle
    background-color: hsla(0, 86%, 46%, 0.122);
    border: 5px solid #ff3737;
    border-top:  25px solid rgb(114, 103, 199);
    /*taille du rectangle
    width: 60%;
    padding: 20px;
    max-width: 600px;
    height: 40%;
    /*Position du rectangle
    left: 50%;
    position: fixed;
    /*forme du rectangle
    border-radius: 0px;
    /*couleur du texte
    color: #000000;
    /*Position du texte
    transform: translate(-50%, 50%);
    display: center;
    padding-top: 50px;
    text-align: justify;
    
}*/

.structure {
    font-family: "Space";
    font-size: 50px;
    color: white;
    position: fixed;
    top: -100%;
    left: 50%;
    height: 75vh;
    width: 59vw;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    z-index: 2;
}

.pauseTitle {
    position: fixed;
    top: -10%;
    height: 10%;
    width: 200%;
    display: flex; /* Add display flex */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Vertically center the items */
    flex-direction: row;
}

/*titre blanc pq pas un effet néon sur le texte bord rouge 

1/ Bord bleus et titre RGPD
2/ cadre rouge 
3/ tester avec le fond 