
@font-face {
	font-family: 'Computer'; 
	src: url('../assets/fonts/DS-DIGI.TTF') format('truetype');
}

.rightSideContainer {
	/* border: 5px solid wheat; */
	display: flex;
	align-items: center;
	position: fixed;
	top: 0%;
	right: -50%;
	font-family: "computer";
	flex-direction: column;
	width: auto; /* Change width to auto */
	max-width: max-content; /* Set a minimum width */
}

#minimapContainer {
    /* border: 2px solid violet; */
    position: relative;
    padding: 20vh;
}

#planetInfoContainer {
    width: 25vw;
    /* border:2px solid palegoldenrod; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#planetInfoContainer img:first-child {
    transform: scaleY(-1) scaleX(-1); /* Flip the image vertically */
}

#planetInfoContainer img {
    /* border:2px solid violet; */
    max-width: 100%;
    height: auto;
}

.planetInfoText {
    /* border: 2px solid violet; */
    font-family: "Computer";
    font-size: 1.4vw;
    letter-spacing: 4px;
    border-right: 2px solid currentColor;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 70%;
    color: #fe5c3f;
}

.planetInfoText.typeWriting {
    animation:
    typing 0.5s steps(20),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0; }
}

.blueShadowfilter {
    filter: drop-shadow(0px 0px 50px #0724ff);
}

.redShadowfilter {
    filter: drop-shadow(0px 0px 50px #fe5c3f);
}