.container {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4); /* Scale up by 2 times */
    display: flex;
    flex-direction: column; /* Display children vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
}

.languageSettings {
    font-family: "Space";
    position: fixed;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%) scale(0.1); /* Scale up by 2 times */
    display: flex;
    flex-direction: row; /* Display children vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(90, 90, 90);
    transform: rotate(45deg);
    background-image: url('mamieliiiiiiine.png');
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Adjust the background position as needed */
    border: solid 5px white; /* Add a white border */
}

.title {
    font-size: 300px;
    font-family: "Space";
    position: fixed;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%) scale(0.3); /* Scale up by 2 times */
    display: flex;
    flex-direction: column; /* Display children vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
}

.titleText {
    margin: 30px 30px 30px 30px;
    color: white; /* Set text color to white */
    font-size: 25px; /* Adjust font size as needed */
    font-family: "Space";
    text-align: center;
}

.textBar {
    margin: 0px 10px 0px 10px;
    top: 50%;
    left: 50%;
    height: 43px * 1.8; /* Double the height */
    width: 452px * 1.8; /* Double the width */
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
}

@font-face {
    font-family: 'Space'; 
    src: url('fonts/SPACE.ttf') format('truetype');
}

.text-input {
    position: absolute;
    width: 80%; /* Match the width of the container */
    height: 20%; /* Automatically adjust height based on content */
    background: none;
    border: none;
    color: white; /* Set text color to white */
    font-size: 30px; /* Adjust font size as needed */
    font-family: "Space";
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
    outline: none; /* Remove default focus outline */
    resize: none; /* Remove resize handle */
    overflow: hidden; /* Prevent scrolling */
}
