.container {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4); /* Scale up by 2 times */
    display: flex;
    flex-direction: column; /* Display children vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
}

.separator {
    height: 2px; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    background-color: white;
}

.languageColumn {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Set text color */
    font-size: 25px; /* Set font size */
    font-weight: bold; /* Set font weight */
    text-align: center; /* Center align text */
    font-family: "Space";
}

.languageSettings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.languageIcon {
    margin: 0px 50px 30px 50px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border: solid 5px white;
    position: relative;
    transition: box-shadow 0.5s ease, border-color 0.5s ease;
}

.glow {
    border-color: #3777ff; /* Change border color to the shine color */
    box-shadow: 0 0 100px #0724ff; /* Add a white shadow */
}

.icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg); /* Rotate the background image in the opposite direction */
    transition: opacity 0.2s ease; /* Add a smooth transition effect */
}

.flag {
    background-size: 50%;
    position: absolute;
    width: 139%;
    height: 139%;
    background-size: contain;
    background-position: center;
    opacity: 0; /* Initially hide the flag */
    transform: rotate(-45deg);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
}

.languageIcon:hover .flag {
    opacity: 1; /* Show the flag on hover */
}

.languageIcon:hover .icon {
    opacity: 0; /* Show the flag on hover */
}



.title {
    font-size: 2000%;
    font-family: "Space";
    position: fixed;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%) scale(0.2); /* Scale up by 2 times */
    display: flex;
    flex-direction: column; /* Display children vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
    border-radius: 5px;
    text-shadow: 
        -10px -10px 0 black,  
         10px -10px 0 black,
        -10px  10px 0 black,
         10px  10px 0 black;
}


.titleText {
    margin: 30px 30px 30px 30px;
    color: white; /* Set text color to white */
    font-size: 25px; /* Adjust font size as needed */
    font-family: "Space";
    text-align: center;
    text-shadow: 
        -2px -2px 0 black,  
         2px -2px 0 black,
        -2px  2px 0 black,
         2px  2px 0 black;
}

.textBar {
    margin: 0px 10px 0px 10px;
    top: 50%;
    left: 50%;
    height: 43px * 1.8; /* Double the height */
    width: 452px * 1.8; /* Double the width */
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure text input doesn't overflow */
}

@font-face {
    font-family: 'Space'; 
    src: url('fonts/SPACE.ttf') format('truetype');
}

.text-input {
    position: absolute;
    width: 80%; /* Match the width of the container */
    height: 20%; /* Automatically adjust height based on content */
    background: none;
    border: none;
    color: white; /* Set text color to white */
    font-size: 30px; /* Adjust font size as needed */
    font-family: "Space";
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
    outline: none; /* Remove default focus outline */
    resize: none; /* Remove resize handle */
    overflow: hidden; /* Prevent scrolling */
}
