body {
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
}

#a {
    display: flex;
    flex-direction: row;
    background-color: #333; /* Set background color to black/gray space color */
    width: 100vw; /* Use viewport width for container */
    height: 100vh; /* Use viewport height for container */
}

#c1 {
    width: 100%; /* Each canvas takes up 50% of the window width */
    height: 100%; /* Each canvas fills the entire window height */
    margin: 1px;
}

.card {
    background: rgba(255, 2, 2, 0.1); /* Adjust the last value (0.7) to change transparency */
}

#c1 {
    order: 1; /* Set the order of #c1 to 1 (display on the left) */
}


/* Style the container */
#enterPlanetTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style the text element */
#enterPlanetText {
    color: #00ff00;
    font-size: 30px;
    font-family: "Space";
}

#minimapContainer {
    position: relative;
    padding: 210px;
}

#planetInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space";
    flex-direction: column;
}


#planetInfoContainer img:first-child {
    transform: scaleY(-1) scaleX(-1) scale(0.9); /* Flip the image vertically */
}

#planetInfoContainer img {
    transform: scale(0.9); /* Flip the image vertically */
}

#planetInfoText {
    font-size: 1em;
    letter-spacing: 5px;
    border-right: 5px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 65%;
    
    color: #ffffff;
}

#planetInfoText.show {
    animation:
    typing 2s steps(20),
    cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0; }
}

.shadowfilter {
    filter: drop-shadow(0px 0px 20px #0724ff);
}

.rightSideContainer {
    display: flex;
    align-items: center;
    position: fixed;
    top: 1%;
    right: 0%;
    font-family: "Space";
    flex-direction: column;
}

/* Style the dot */
.dot {
   width: 5px;
   height: 5px;
   background-color: white;
   opacity: 0.4;
   border-radius: 50%;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}