    body {
        margin: 0; /* Remove default body margin */
        overflow: hidden; /* Hide overflow to prevent scrollbars */
    }

    #a {
        display: flex;
        flex-direction: row;
        background-color: #333; /* Set background color to black/gray space color */
        width: 100vw; /* Use viewport width for container */
        height: 100vh; /* Use viewport height for container */
    }

    #c1, #c2 {
        width: 100%; /* Each canvas takes up 50% of the window width */
        height: 100%; /* Each canvas fills the entire window height */
    }

    #c1 {
        order: 1; /* Set the order of #c1 to 1 (display on the left) */
    }

    #c2 {
        order: 2; /* Set the order of #c2 to 2 (display on the right) */
    }

    .centerRectangle {
        bottom: 30%;
        border-style: solid;
        width: 60px;
        height: 60px;
        background-color: #0008ff51;
        transform: rotate(45deg);
        position: fixed;
        transition: box-shadow 0.5s ease, border-color 0.5s ease;
        overflow: hidden;
    }
    
    .speedbar {
        width: 150%; /* Fill horizontally */
        height: 300%; /* Fill vertically */
        background-color: rgb(9, 0, 187);
        position:  absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        left: 100%;
        top: 100%;
        animation: animate 2s linear infinite;
    }


    @keyframes animate {
        0%, 100% {
            clip-path: polygon(0 49%, 15% 51%, 30% 51%, 43% 48%, 57% 45%, 71% 44%, 85% 46%, 100% 49%, 100% 100%, 0 100%);
        }
        25%{
            clip-path: polygon(0 51%, 15% 50%, 30% 47%, 44% 45%, 58% 46%, 71% 50%, 85% 51%, 100% 47%, 100% 100%, 0 100%);
        }
        50%{
            clip-path: polygon(0 51%, 14% 49%, 28% 48%, 42% 49%, 54% 51%, 70% 52%, 85% 52%, 100% 49%, 100% 100%, 0 100%);
        }
        75% {
            clip-path: polygon(0 51%, 15% 50%, 29% 50%, 42% 50%, 56% 50%, 72% 50%, 86% 50%, 100% 50%, 100% 100%, 0 100%);
        }
    }
    

    .flag {
        background-size: 50%;
        position: absolute;
        width: 139%;
        height: 139%;
        background-size: contain;
        background-position: center;
        opacity: 0; /* Initially hide the flag */
        transform: rotate(-45deg);
        transition: opacity 0.5s ease; /* Add a smooth transition effect */
    }

    .bluebar {
        background-color: #0008ff51;
        border: 1px solid #ffffffff;
        height: 100%;
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 63%;
        transition: opacity 2s ease;
        opacity: 0;
    }

    .scoreUI {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        transform: translate(-50%, -50%) scale(1); /* Rotate 180 degrees */
        left: 50%;
        top: 10%; /* Lower the container */
    }
    
    .asset{
        margin: 0 20% 0 20%;
        position: relative; /* Make assets relative to .scoreUI */
    }

    .parallelogram {
        border-style: solid;
        border-width: 3px 5px 3px 5px;
        width: 40px;
        height: 50px;
        background-color: #0008ff51;
        transform: skewX(45deg);
        position: absolute;
        top: 10%;
        transform-origin: left top;
        transition: border-color 2s ease, background-color 2s ease;
    }

    .shadowfilter {
        filter: drop-shadow(0px 0px 20px #0724ff);
    }

    